
<body>
    <div class="main-1">
    <img src="https://media.istockphoto.com/photos/flat-lay-of-modern-mens-clothing-on-a-wooden-background-picture-id665032164?k=20&m=665032164&s=612x612&w=0&h=1ZWCLY14AgsbaOowEc1eGFe9gkqf6nQuoi5leZxMi4c=">
    <div class="brand1">
    <img src="https://upload.wikimedia.org/wikipedia/commons/0/0b/Pepe-Jeans-Logo.svg">
</div>
</div>



<div class="main-2">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/Levi%27s_logo.svg/2560px-Levi%27s_logo.svg.png">
    <img src="https://media.istockphoto.com/photos/perfect-match-picture-id532278616?k=20&m=532278616&s=612x612&w=0&h=SjiB2Q3Hi2SjQR1CiIPugWMbp9a4ZGxfR2bASBb-OKM=">
</div>

<div class="main-3">
    <img src="https://media.istockphoto.com/photos/this-one-match-perfect-with-me-picture-id1293366109?k=20&m=1293366109&s=612x612&w=0&h=sZxIOdBctJdLx71165XgRdUAQo1SPkGsRPzDR5IF4-Y=">
    <div class="brand2">
    <img src="https://www.logolynx.com/images/logolynx/b4/b41f1791518e16d26b5fc81f6de40360.png">
</div>
</div>

<div class="txt">
    COLLECTION
</div>

<div id="main-4">

    <img src="https://cdn.shopify.com/s/files/1/0004/3594/5519/articles/men_essential_accessories_2022.jpg?v=1646618239">
    <img src="https://img.freepik.com/free-psd/logo-mockup-leather-texture_53876-98650.jpg?w=2000">
</div>

<div class="video">
    <iframe width="100%" height="500" src="https://www.youtube.com/embed/uFgcSjVRJhE?controls:0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;muted loop; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="footer">
    <div style="text-align:center;padding-top: 20px;">
        Download Our App
    </div>
    <div class="app">
        <img src="https://www.zinklondon.in/pub/media/wysiwyg/home/gpay-app.png" alt="">
        <img src="https://www.zinklondon.in/pub/media/wysiwyg/home/iphone-app.jpg" alt="">
        <div class="items">
        <p>Follow Us At </p>
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-instagram" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
           <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
           <rect x="4" y="4" width="16" height="16" rx="4"></rect>
           <circle cx="12" cy="12" r="3"></circle>
           <line x1="16.5" y1="7.5" x2="16.5" y2="7.501"></line>
        </svg>
    
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-facebook" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
           <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
           <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3"></path>
        </svg>
    
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-youtube" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
           <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
           <rect x="3" y="5" width="18" height="14" rx="4"></rect>
           <path d="M10 9l5 3l-5 3z"></path>
        </svg>
    
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-twitter" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
           <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
           <path d="M22 4.01c-1 .49 -1.98 .689 -3 .99c-1.121 -1.265 -2.783 -1.335 -4.38 -.737s-2.643 2.06 -2.62 3.737v1c-3.245 .083 -6.135 -1.395 -8 -4c0 0 -4.182 7.433 4 11c-1.872 1.247 -3.739 2.088 -6 2c3.308 1.803 6.913 2.423 10.034 1.517c3.58 -1.04 6.522 -3.723 7.651 -7.742a13.84 13.84 0 0 0 .497 -3.753c-.002 -.249 1.51 -2.772 1.818 -4.013z"></path>
        </svg>
        
    </div>
    </div>
<hr style="opacity:0.2;">

<div class="final" >
<ul>
    <li>Terms & Conditions</li>
    <li>Terms of Use</li>
    <li>Privacy Policy</li>
</ul>
</div>


