<body style="background-image:url('https://static.vecteezy.com/system/resources/previews/007/424/077/large_2x/mockup-image-of-man-hand-holding-gold-mobile-phone-with-blank-white-screen-on-blurred-abstract-background-of-many-cotton-clothing-on-the-shelves-of-fashion-shop-business-concept-shopping-online-free-photo.jpg')">
  <div class="background">
<section class='login' id='login'>
    <div class='head'>
    <h1 class='company'>WELCOME</h1>
    </div>
    <p class='msg'>Login</p>
    <div class='form'>
      <form>
    <input type="text" placeholder='Username' class='text' id='username' required><br>
    <input type="password" placeholder='••••••••••••••' class='password'><br>
    <a href="#" class='btn-login' id='do-login'>Login</a>
    <a href="#" class='forgot'>Forgot?</a>
      </form>
    </div>
  </section>
</div>
</body>