
body{
    margin: 0;
    padding: 0;
    background-color: #fff;
}
.nav {
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(45deg, #fff, rgb(0, 80, 107));
    padding: 15px;
    color: #fff;
    display: flex;
    position : fixed;
    z-index: 3;
    width: 100%;
}
.logo {
    width: 60px;
    height: 50px;
    left: 20px;
    padding-right: 20px;
    border-right: 2px solid black;
}
.active{
    background-color: rgb(0, 90, 107);
    padding: 3px;
    border-radius: 10px;
    box-shadow: 5px 3px 5px black;
}
.icons{
    display: flex;
    margin-left: 38%;
}
.icons svg{
    width: 38px;
    height: 38px;
    margin-right: 35px;  
}
.list {
    list-style: none;
    display: flex;
    align-items: center;
}
.list a{
    text-decoration: none;
    padding: 5px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    display: flex;
    margin-left: 50px;
    transition: .5s;
    
}
.list a:after{
    content: "";
    position: absolute;
    background-image: linear-gradient(to right,blue,lightblue);
    height: 3px;
    width: 0px;
    bottom: 25px;
    transition: 0.3s;   
}
.list a:hover::after{
    width: 80px;
}
.icons img{
    width: auto;
    height: 50px;
}
.btn button{
    background-color: #fff;
    border-radius: 5px;
    border: none;
    color: blue;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    margin-right: 30px;
}
.icons svg:hover{
    background-color: rgb(0, 80, 107);
    padding: 3px;
    border-radius: 10px;
    box-shadow: 5px 3px 5px black;
    transition: .3s;
    cursor: pointer;
}
.icons  a{
    color:#fff;
}



